@import "smart-grid.less";

@font-face {
   font-family: 'Mirandolina';
   font-style: normal;
   src: local('Mirandolina'),
      url('../fonts/Mirandolina-Regular.woff2') format('woff2'),
      url('../fonts/Mirandolina-Regular.woff') format('woff');
}

@font-face {
   font-family: 'Mirandolina Bold';
   font-style: normal;
   src: local('Mirandolina Bold'),
      url('../fonts/Mirandolina-Bold-Regular.woff2') format('woff2'),
      url('../fonts/MirandolinaBold-Regular.woff') format('woff');
}

@menucolor: rgba(137,116,102,1);

.reset();

*{
   outline: none;
}
div,section{
   overflow: hidden;
}
input,button,summary,textarea{
   &:focus{
      outline: none;
   }
   &:active{
      outline: none;
   }
}

a{
   text-decoration: none;
   outline: none;
   cursor: pointer;
   color: inherit;
}

.container{
   .wrapper();
}

.row{
   .row-flex();
}

/*.debug{
   .debug(rgba(0, 0, 0, 0.5), 1px solid red);
}*/
html,body{
   height: 100%
}
body{
   font-family: 'Mirandolina', serif;
   background: #fff;
   /*   font-size: 18px;*/
   font-weight: 400;
   color: #333;
}
body.error_body{
   display: flex;
   flex-direction: column;
}

header{
   background: #fff;
   border-bottom: 1px solid fadeout(@menucolor, 70%);
}


h1{
   /*   font-size: 1.6rem;*/
   /*   font-weight: 800;*/
   /*   color: #E9EBEB;*/
   font-family: 'Mirandolina Bold', serif;
   /*   font-weight: bold;*/
}

h2{
   font-family: 'Mirandolina Bold', serif;
   font-size: 24px;
   /*   font-weight: bold;*/
}

h3{

}

footer{

}
/*header*/
#header{
   font-family: 'Open Sans', sans-serif;
   box-sizing: border-box;
   padding-top: 25px;
   padding-bottom: 31px;
   color: @menucolor;
   height: 137px;
   overflow: visible;
   .row{
      flex-wrap: nowrap;
      justify-content: space-between;
      overflow: visible;
      .logo{
         .col();
         .size-lg(4);
         .size-sm(5);

         padding-left: 25px;
         display: flex;
         /*         flex-grow: 1;*/
         align-items: center;
         .logo_img{
            max-width: 186px;
            margin-top: 8px;

         }
      }

      .header_nav{
         overflow: visible;
         .col();
         .size-lg(4);
         .size-sm(2);
         font-size: 15px;
         justify-content: center;
         display: flex;
         flex-grow: 10;
         /*         min-width: 693px;*/
         .lg-block({
            flex-grow: 0;
            min-width: 0;
         });
         /*                  padding-left: 20px;*/
         align-items: center;
         .wr-menu{
            overflow: visible;
            .menu-tops{
               overflow: visible;
            }
         }
      }
      .order{
         display: flex;
         align-items: center;
         justify-content: flex-end;
         .col();
         .size-lg(4);
         /*         .size-sm(5);*/
         /*         .xs-block({
                     min-width: 226px !important;
                  });*/
         .order_en{
            font-size: 15px;
         }
         .order_btn{
            display: block;
            box-sizing: border-box;
            text-align: center;
            width: 169px;
            /*            height: 49px;*/
            font-size: 13px;
            border: 1px solid fadeout(@menucolor, 50%);
            padding: 15px 0 15px;
            margin: 0 20px;
            cursor: pointer;
            background: none;
            color: @menucolor;
            transition: all 0.2s ease;
            &:hover{
               background: @menucolor;
               color: #fff;
            }
         }
      }
   }
}


.img_white{
   display: none;
}

#main_fixed-shadow{
   /*   z-index: 20;*/
}

header.main{
   background: url(../img/bg_head.jpg);
   background-size: cover;
   min-height: 874px;
   color: #fff;
   border: none;
   #header{
      color: #fff;
      box-sizing: border-box;
      .row{
         .logo{
            .img_white{
               display: block;
            }
            .img_bej{
               display: none;
            }
         }
         .header_nav{
            .wr-menu{
               .but-mobile{
                  /*                  background: @menucolor;*/
               }
               .menu-tops{
                  z-index: 100;
                  ul{
                     li{
                        a{
                           color: #fff;
                           border-bottom: 1px solid fadeout(#fff, 70%);
                           @media screen and (max-width: 999px) {
                              color: @menucolor;
                           }
                           &:hover{
                              border-bottom-color: #fff;
                           }
                        }
                        ul{
                           li{
                              a{
                                 &:hover{
                                    color: @menucolor;
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            }

         }
         .order{
            .order_en{
               border-bottom: 1px solid fadeout(#fff, 70%);
            }
            .order_btn{
               border: 1px solid #888;
               color: #fff;
               &:hover{
                  color: #333;
                  background: #fff;
               }
            }
         }
      }
   }
}

.container_slider{
   margin-top: 225px;
   overflow: visible;
   .row{
      justify-content: center;
      overflow: visible;
      #header_slider{
         overflow: visible;
         /*   position: relative;*/
         text-align: center;
         .col();
         .size(12);
         /*   margin-top: 265px;*/

         h1{
            display: block;
            font-size: 72px;
            padding: 0 180px;
            .lg(padding, 0 100px);
            .md(padding,0);
            .sm(font-size, 52px);
            .xs(font-size, 40px);
            /*            line-height: 1.1;*/
         }
      }
   }
   ul.slick-dots{
      bottom: -285px;
      li{
         button{
            &::before{
               width: 16px;
               height: 16px;
               content: "";
               background: url(../img/dot-icon.png) no-repeat;
            }
         }
      }
      li.slick-active{
         button{
            &::before{
               content: "";
               background: url(../img/dot-icon_active.png) no-repeat;
            }
         }
      }
   }
}



/*section class="products_promo"*/

.products_promo{
   min-height: 990px;
   h2{
      color: #fff;
      padding: 0 0 22px 24px;
   }
   a{
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #D4CCC7;
   }
}

.prod_pr_item{
   .col();
   .size(3);
   .size-md(5.5);
   .size-sm(6);
   .size-xs(11);
   display: flex;
   align-items: flex-end;
   min-height: 331px;
   position: relative;
   margin-bottom: 20px;
}


#products_promo{
   padding-bottom: 70px;

   .row{
      justify-content: space-around;
      .sm(justify-content, center);
      p{
         padding: 63px 0 80px 0;
         font-size: 20px;
         line-height: 1.8;
         text-align: center;
         display: block;
         .col();
         .size(8);
      }
      .secure_printing{
         background: url(../img/bg_sec_pr.jpg);
         background-size: cover;
         overflow: hidden;
         .pr_item_overlay{
            position: absolute;
            top: 243px;
            width: 100%;
            height: 331px;
            transition: all 0.5s ease;
            ul{
               .lg(margin-top, -15px);
               .md(margin-top, 0);
               li{
                  margin-bottom: 5px;
                  padding-left: 24px;
                  .lg(margin-bottom, 0);
                  .md(margin-bottom, 5px);
                  a{
                     &:hover{
                        border-bottom: 1px solid #AB9D92;
                        color: #fff;
                     }
                  }
               }
            }
         }
         &:hover{
            .pr_item_overlay{
               background: fadeout(@menucolor, 5%);
               top: 0;
               h2{
                  padding: 20px 0 0 22px ;
               }
            }
         }
      }
      .tickets{
         background: url(../img/bg_tickets.jpg);
         background-size: cover;
         overflow: hidden;
         .pr_item_overlay{
            position: absolute;
            top: 243px;
            width: 100%;
            height: 331px;
            transition: all 0.5s ease;
            ul{
               .lg(margin-top, -15px);
               .md(margin-top, 0);
               li{
                  margin-bottom: 5px;
                  padding-left: 24px;
                  .lg(margin-bottom, 0);
                  .md(margin-bottom, 5px);
                  a{
                     &:hover{
                        border-bottom: 1px solid #AB9D92;
                        color: #fff;
                     }
                  }

               }
            }

         }
         &:hover{
            .pr_item_overlay{
               background: fadeout(@menucolor, 5%);
               top: 0;
               h2{
                  padding: 20px 0 0 22px ;
               }
            }
         }
      }
      .labels{
         background: url(../img/bg_labels_gr.jpg);
         background-size: cover;
         overflow: hidden;
         .pr_item_overlay{
            position: absolute;
            top: 243px;
            width: 100%;
            height: 331px;
            transition: all 0.5s ease;
            ul{
               .lg(margin-top, -15px);
               .md(margin-top, 0);
               li{
                  margin-bottom: 5px;
                  padding-left: 24px;
                  .lg(margin-bottom, 0);
                  .md(margin-bottom, 5px);
                  a{
                     &:hover{
                        border-bottom: 1px solid #AB9D92;
                        color: #fff;
                     }
                  }

               }
            }

         }
         &:hover{
            .pr_item_overlay{
               background: fadeout(@menucolor, 5%);
               top: 0;
               h2{
                  padding: 20px 0 0 22px ;
               }
            }
         }
      }
      .travel_cards{
         background: url(../img/bg_travel_cards.jpg);
         background-size: cover;
         overflow: hidden;
         .pr_item_overlay{
            position: absolute;
            top: 276px;
            width: 100%;
            height: 331px;
            transition: all 0.5s ease;
            ul{
               .lg(margin-top, -15px);
               .md(margin-top, 0);
               li{
                  margin-bottom: 5px;
                  padding-left: 24px;
                  .lg(margin-bottom, 0);
                  .md(margin-bottom, 5px);
                  a{
                     &:hover{
                        border-bottom: 1px solid #AB9D92;
                        color: #fff;
                     }
                  }

               }
            }

         }
         &:hover{
            .pr_item_overlay{
               background: fadeout(@menucolor, 5%);
               top: 0;
               h2{
                  padding: 20px 0 0 22px ;
               }
            }
         }
      }
      .rfid{
         background: url(../img/bg_rfid.jpg);
         background-size: cover;
         overflow: hidden;
         .pr_item_overlay{
            position: absolute;
            top: 276px;
            width: 100%;
            height: 331px;
            transition: all 0.5s ease;
            ul{
               .lg(margin-top, -15px);
               .md(margin-top, 0);
               li{
                  margin-bottom: 5px;
                  padding-left: 24px;
                  .lg(margin-bottom, 0);
                  .md(margin-bottom, 5px);
                  a{
                     &:hover{
                        border-bottom: 1px solid #AB9D92;
                        color: #fff;
                     }
                  }

               }
            }

         }
         &:hover{
            .pr_item_overlay{
               background: fadeout(@menucolor, 5%);
               top: 0;
               h2{
                  padding: 20px 0 0 22px ;
               }
            }
         }
      }
      .envelopes{
         background: url(../img/bg_envelopes.jpg);
         background-size: cover;
         overflow: hidden;
         .pr_item_overlay{
            position: absolute;
            top: 276px;
            width: 100%;
            height: 331px;
            transition: all 0.5s ease;
            ul{
               .lg(margin-top, -15px);
               .md(margin-top, 0);
               li{
                  margin-bottom: 5px;
                  padding-left: 24px;
                  .lg(margin-bottom, 0);
                  .md(margin-bottom, 5px);
                  a{
                     &:hover{
                        border-bottom: 1px solid #AB9D92;
                        color: #fff;
                     }
                  }

               }
            }

         }
         &:hover{
            .pr_item_overlay{
               background: fadeout(@menucolor, 5%);
               top: 0;
               h2{
                  padding: 20px 0 0 22px ;
               }
            }
         }
      }
      .offset_printing{
         background: url(../img/bg_offset_printing.jpg);
         background-size: cover;
         overflow: hidden;
         .pr_item_overlay{
            position: absolute;
            top: 276px;
            width: 100%;
            height: 331px;
            transition: all 0.5s ease;
            ul{
               .lg(margin-top, -15px);
               .md(margin-top, 0);
               li{
                  margin-bottom: 5px;
                  padding-left: 24px;
                  .lg(margin-bottom, 0);
                  .md(margin-bottom, 5px);
                  a{
                     &:hover{
                        border-bottom: 1px solid #AB9D92;
                        color: #fff;
                     }
                  }

               }
            }

         }
         &:hover{
            .pr_item_overlay{
               background: fadeout(@menucolor, 5%);
               top: 0;
               h2{
                  padding: 20px 0 0 22px ;
               }
            }
         }
      }
      .promo_prod{
         background: url(../img/bg_promo_prod.jpg);
         background-size: cover;
         overflow: hidden;
         .pr_item_overlay{
            position: absolute;
            top: 276px;
            width: 100%;
            height: 331px;
            transition: all 0.5s ease;
            ul{
               .lg(margin-top, -15px);
               .md(margin-top, 0);
               li{
                  margin-bottom: 5px;
                  padding-left: 24px;
                  .from-to(@break_lg, @break_md, {
                     margin-bottom: 30px;
                  });
                  /*                  .lg(margin-bottom, 0);
                                    .md(margin-bottom, 5px);*/
                  a{
                     &:hover{
                        border-bottom: 1px solid #AB9D92;
                        color: #fff;
                     }
                  }

               }
            }

         }
         &:hover{
            .pr_item_overlay{
               background: fadeout(@menucolor, 5%);
               top: 0;
               h2{
                  padding: 20px 0 0 22px ;
               }
            }
         }
      }
   }

}

/*<section class="about">*/

.about{
   background: url(../img/bg_about.png);
   background-size: cover;
   min-height: 757px;
   padding: 80px 0 20px 0;
   box-sizing: border-box;
}
#about{
   .row{
      justify-content: center;
      .about_item_head{
         .col();
         .size(9);
         .size-lg(10);
         .size-xs(12);
         padding: 0 20px 0 25px;
         margin-bottom: 40px;
         .sm(padding, 0 10px);
         h2{
            font-size: 36px;
            text-align: center;
            margin-bottom: 50px;
         }
         p{
            font-family: 'Mirandolina', serif;
            line-height: 1.8;
            font-size: 20px;
         }
      }
      .about_item{
         font-family: 'Open Sans', sans-serif;
         font-size: 14px;
         padding-right: 15px;
         padding-left: 25px;
         .col();
         .size(4.5);
         .size-lg(5);
         .size-md(6);
         .size-sm(10);
         .size-xs(12);
         .sm-block({
            padding: 0 10px;
         });
         /*         .sm(text-align, center);*/
         h2{
            font-family: 'Mirandolina Bold', serif;
            font-size: 20px;
            margin-left: -26px;
            margin-bottom: 30px;
            .sm-block({
               margin-top: 30px;
               padding: 0;
               margin-left: 0;
            });
         }
         span{
            display: block;
            margin-bottom: 30px;
         }
         p{
            line-height: 1.8;
         }
         ul{
            .sm-block({
               margin-left: 26px;
            });
            li{
               list-style-image: url(../img/ul_marker.png);
               margin-bottom: 11px;
            }
         }
      }
   }
}

/*      <section class="customers">*/

.clients{
   min-height: 1226px;
   padding: 80px 0 0 0;
   box-sizing: border-box;
}

#clients{
   text-align: center;
   h2{
      font-size: 36px;
      margin-bottom: 25px;
   }
   p{
      font-family: 'Mirandolina', serif;
      font-size: 20px;
      margin-bottom: 20px;
   }
   .row{
      justify-content: center;
      .clients_map{
         .col();
         .size(10);
         .size-lg(12);
         margin-bottom: 50px;
      }

      .clients_logos{
         .col();
         .size(11);
         .size-lg(12);
         /*         .md(justify-content, space-between);*/
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         padding-left: 85px;
         justify-content: space-around;
         text-align: left;
         .client_logo{
            flex-basis: 300px;
            flex-grow: 1;
            padding-bottom: 32px;
            .mo{
               margin-left: -15px;
            }
            .fts{
               margin-left: 10px;
            }
            .eg{
               margin-left: 15px;
            }
            .pf{
               margin-left: 7px;
            }
            /*            .col();
                        .size(4);*/
         }
      }
   }
}

/*      <section class="license">*/

.license{
   background: fadeout(#f1efec, 37%);
   min-height: 578px;
   text-align: center;
   .sm-block({
      margin-bottom: 10px;
   });

   h2{
      font-size: 36px;
      padding: 90px 0 73px 0;
      .sm-block({
         padding: 50px 0 25px 0;
      });
   }
   p{
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin-top: 55px;
      padding-bottom: 40px;
   }
}

#license{
   .row{
      justify-content: center;
      .lic_items{
         .col();
         .size(9);
         display: flex;
         align-items: center;
         flex-wrap: wrap;
         justify-content: center;
         .lic_item{
            overflow: hidden;
            background: #fff;
            height: 167px;
            width: 118px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 7px;
            margin-top: 7px;
            img{
               width: length;
               /*               transition: all 0.5s ease;*/
            }
         }
      }
   }
}

/*        <section class="contacts">*/

.contacts{
   font-family: 'Open Sans', sans-serif;
   display: flex;
   .sm-block({
      justify-content: center;
      flex-wrap: wrap;
   });

   h2{
      font-size: 36px;
      padding: 142px 0 45px 0;
      .sm(padding, 60px 0 40px 0);
   }
   p{

      font-size: 13px;
   }
}
/*#contacts{
   .row{
      justify-content: center;
      min-height: 720px;*/
.google_map{
   min-width: 50%;
   /*   background: url(../img/google_map.jpg);
      background-size: cover;*/
   box-sizing: border-box;
   .sm-block({
      .col();
   });
   .size-sm(12);
   img{
      display: block;
      min-width: 100%;
      height: 100%;
   }
}
.contacts_main{
   min-width: 50%;
   box-sizing: border-box;
   padding-left: 70px;
   .size-sm(12);
   .md(padding-left, 30px);
   .sm-block({
      padding-left: 0;
      text-align: center;
      .col();

   });
   .contacts_headline{
      font-weight: bold;
      margin-bottom: 15px;
   }
   .tel_1{
      display: block;
      font-size: 24px;
   }
   .tel_2{
      display: block;
   }
   .mail_{
      display: flex;
      color: @menucolor;
      margin-bottom: 35px;
      .sm(justify-content, center);
      a{
         border-bottom: 1px solid fadeout(@menucolor, 70%);
         &:hover{
            border-color: @menucolor;
         }
      }
   }
   .requisite{
      display: flex;
      color: @menucolor;
      margin-top: 50px;
      margin-bottom: 120px;
      .sm-block({
         justify-content: center;
         margin-bottom: 50px;
      });
      a{
         border-bottom: 1px solid fadeout(@menucolor, 70%);
         margin-left: 10px;
         &:hover{
            border-color: @menucolor;
         }
      }
   }
}
/*   }
}*/
/*<footer>*/

footer{
   background: @menucolor;

}

#footer_main{
   font-family: 'Open Sans', sans-serif;
   font-size: 13px;
   color: #fff;
   .row{
      min-height: 85px;
      align-items: center;
      justify-content: center;
      text-align: center;
      .copy_main{
         .col();
         /*         .size(4);*/
         /*         padding-left: 30px;*/
      }
      /*      .site_map_main{
               .col();
               .size(4);
               padding-right: 30px;
               text-align: right;
               display: flex;
               justify-content: flex-end;
               a{
                  border-bottom: 1px solid #9F8E83;
               }
            }*/
   }
}

#footer{
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
   color: #fff;
   box-sizing: border-box;
   padding: 20px 200px;
   min-height: 130px;
   .lg(padding, 20px 70px);
   .md(padding, 20px);
   .sm(text-align, center);
   .row{
      justify-content: space-between;
      .sm(justify-content, center);
      .copy_f{
         padding-left: 3px;
         .col();
         .size-lg(6);
         .size-sm(10);
         .size-xs(12);
         .lg(padding, 0);
         p{
            padding-bottom: 10px;
         }
         .copy{
            font-size: 13px;
            color: fadeout(#fff, 50%);
            padding: 0;
            .xs(padding-bottom, 20px);
         }
      }
      .dep_sales{
         .col();
         .size-lg(3);
         .size-sm(6);
         .size-xs(12);
         P{
            color: fadeout(#fff, 50%);
            padding-bottom: 10px;
         }
         .tel_f{
            color: #fff;
         }
         .mail_f{
            display: flex;
            .sm(justify-content, center);
            .xs(padding-bottom, 20px);
            a{
               display: block;
               border-bottom: 1px solid #fff;
               &:hover{
                  border-color: transparent;
               }
            }

         }
      }
   }
}

/*Общая шапка(заголовок) для страниц продукты и технологии*/
.page_top{
   min-height: 515px;
}
#page_top{
   .row{
      justify-content: center;
   }
}
.navigation_span{
   font-family: 'Open Sans', sans-serif;
   font-size: 12px;
   color: @menucolor;
   display: block;
   margin-top: 20px;
   a{
      border-bottom: 1px solid transparent;
      &:hover{
         border-bottom-color: fadeout(@menucolor, 50%);
      }
   }
}
.nav_span_last{
   color: fadeout(@menucolor, 50%);
}
.page_headline{
   .col();
   .size(9);
   .size-lg(10);
   .size-md(12);
   .size-sm(10);
   .size-xs(12);
   .sm-block({
      padding: 0;
   });
   padding-left: 25px;
   padding-right: 20px;

   h1{
      font-size: 36px;
      text-align: center;
      padding: 15px 0 50px;
   }
   p{
      line-height: 1.8;
      font-size: 20px;
   }
}
.page_head_text{
   .col();
   .size(4.5);
   .size-lg(5);
   .size-md(6);
   .size-sm(10);
   .size-xs(12);
   .sm-block({
      margin-left: 10px;
   });
   margin-left: 0;
   span{
      display: block;
      padding: 20px 0;
   }
   p{
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      padding: 10px 0 20px;
      line-height: 1.8;
   }
}
.left_pht{
   padding-left: 25px;
   padding-right: 15px;
   .sm-block({
      padding: 0;
   });
}

/*Страница продукты(технологии) блоки текст + картинка */
.page_stripe{
   min-height: 492px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-bottom: 20px;
   .sm-block({
      /*      .wrapper-full();*/
      padding-left: 10px;
      padding-right: 10px;
      min-height: 0;
   });
}
.img_div{
   width: 50%;
   /*   display: flex;*/
   /*   background-size: cover;*/
   overflow: hidden;
   /*   .size-lg(6);*/
   .size-sm(10);
   .sm-block({
      .col();
      min-height: 246px;
      order: -1;
   });
   .size-xs(12);
   img{
      display: block;
      max-width: none;
      min-width: 100%;
   }
}
.text_div{
   background: fadeout(#f1efec, 37%);
   display: flex;
   align-items: center;
   width: 50%;
   padding-bottom: 20px;
   .sm-block({
      .col();
      padding-top: 10px;
      /*      margin-left: 10px;
            margin-right: 10px;*/
   });
   /*   .size-lg(6);*/
   .size-sm(10);
   .size-xs(12);
   h2{
      margin-bottom: 35px;
      .sm-block({
         /*         padding-top: 10px;*/
      });
   }
   p{
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin-bottom: 30px;
      line-height: 1.6;
   }
   ul{
      li{
         margin-bottom: 14px;
      }
   }
   a{
      border-bottom: 1px solid fadeout(@menucolor, 70%);
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: @menucolor;
      &:hover{
         border-color: @menucolor;
      }
   }
}
.text_div_right{
   margin-left: 55px;
   width: 445px;
   .lg-block({
      margin-left: 20px;
   });
}
.text_div_left{
   margin-right: 55px;
   width: 445px;
   .lg-block({
      margin-left: 20px;
   });
}

/*Карточка продукта*/

.top_product{
   min-height: 530px;
   .md(min-height, 0);
   /*   background: url(../img/top_techno_bg.jpg);*/
   /*      background-size: cover;*/
}
h1.prod_h1{
   padding-bottom: 35px;
}
#top_product{
   text-align: center;
   color: #fff;
   .row{
      justify-content: center;
   }
}
.product_headline{
   .col();
   .size(9);
   .size-lg(10);
   .size-md(12);
   padding: 145px 0 40px;
   .md(padding-top, 70px);
   .sm(padding, 40px 0 20px);
   p{
      font-size: 24px;
      line-height: 2;
   }
   span{
      display: block;
      margin-top: 15px;
   }
}
.small_text_span{
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
   padding: 20px 150px 20px;
   .sm(padding, 20px 30px 20px);
}
.look_doc{
   border-bottom: 1px solid fadeout(#fff, 50%);
   &:hover{
      border-color: transparent;
   }
}
.product_detals{
   min-height: 970px;
   .md(min-height, 0);
}
#product_detals{
   .row{
      justify-content: center;
   }
}
.prod_det{
   margin-top: 50px;
   text-align: center;
   .col();
   .size(9);
   .size-lg(12);
}
.text_italic{
   font-family: 'Open Sans', sans-serif;
   font-style: italic;
   font-size: 14px;
   display: block;
   margin-top: -35px;
   padding: 0 200px 20px;
   .md(padding, 20px 0);
}
.prod_det_text{
   box-sizing: border-box;
   .col();
   .size(4.5);
   .size-lg(5);
   .size-md(12);
   margin-left: 0;
   .md-block({
      margin-left: 20px;
      text-align: center;
   });
   span{
      display: block;
      padding: 30px 0 15px;
   }
   p{
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      padding: 10px 0 20px;
      line-height: 1.8;
   }
}
.left_pdt{
   padding: 0 30px 0 10px;
   .md(padding, 0);
}
.prod_img_tic{
   min-height: 409px;
   display: flex;
   justify-content: center;
   margin-bottom: 35px;
   .sm-block({
      flex-wrap: wrap;
      margin-bottom: 10px;
   });
   .prod_img_tic1{
      width: 50%;
      img{
         display: block;
         min-width: 100%;
         max-width: none;
      }
      /*      background: url(../img/bg_tic1.jpg) no-repeat;
            background-size: cover;*/
      .lg-block({
         .col();
         .size-lg(6);
         margin-bottom: 10px;
         min-height: 300px;
      });
      .size-sm(12);
   }
   .prod_img_tic2{
      width: 50%;
      img{
         display: block;
         min-width: 100%;
         max-width: none;
      }
      /*      background: url(../img/bg_tic2.jpg) no-repeat;
            background-size: cover;*/
      .lg-block({
         .col();
         .size-lg(6);
         margin-bottom: 10px;
         min-height: 300px;
      });
      .size-sm(12);
   }
}
#img_tic_text{
   min-height: 205px;
   .row{
      justify-content: center;
   }
}
#product_slider{
   padding-bottom: 100px;
   .sm-block({
      padding-bottom: 90px;
   });
   .xs-block({
      padding-bottom: 40px;
   });
   #slider_bottom{
      overflow: visible;
      margin: 0 187px;
      .md-block({
         margin: 0 100px;
      });
      .sm-block({
         margin: 0;
      });
      button.slick-arrow.slick-prev{
         left: -90px;
         width: 71px;
         height: 49px;
         .sm-block({
            top: 112%;
            left: 35%;
         });
         &::before{
            width: 71px;
            height: 49px;
            content: "";
            background: url(../img/slick_prev.png) no-repeat;
            display: block;
            opacity: 1;
         }
      }
      button.slick-arrow.slick-next{
         right: -90px;
         width: 71px;
         height: 49px;
         .sm-block({
            top: 112%;
            right: 35%;
         });
         &::before{
            width: 71px;
            height: 49px;
            content: "";
            background: url(../img/slick_next.png) no-repeat;
            display: block;
            opacity: 1;
         }
      }
      .slider_item{
         height: 355px;
         display: flex;
         /*         max-width: 1000px;*/
         height: 356px;
         .slider_item_text{
            box-sizing: border-box;
            width: 50%;
            padding: 35px 0 0 45px;
            background: fadeout(#f1efec, 37%);
            h2{
               padding-bottom: 30px;
            }
            ul{
               li{
                  margin-bottom: 14px;
               }
            }
            a{
               border-bottom: 1px solid fadeout(@menucolor, 70%);
               font-family: 'Open Sans', sans-serif;
               font-size: 14px;
               color: @menucolor;
               &:hover{
                  border-color: @menucolor;
               }
            }
         }
         .slider_item_img{
            /*            background-size: cover;*/
            width: 50%;
            img{
               display: block;
               min-width: 100%;
               max-width: inherit;
            }
         }
      }
   }
}
/*.bg1{
   background: url(../img/prod_img_1.jpg);
}
.bg2{
   background: url(../img/prod_img_2.jpg);
}
.bg3{
   background: url(../img/prod_img_3.jpg);
}
.bg4{
   background: url(../img/prod_img_4.jpg);
}
.bg5{
   background: url(../img/prod_img_5.jpg);
}
.bg6{
   background: url(../img/prod_img_6.jpg);
}
.bg7{
   background: url(../img/prod_img_7.jpg);
}
.bg8{
   background: url(../img/prod_img_8.jpg);
}*/

/*Карточка технологий*/

#slider_top{
   overflow: hidden;
   min-height: 492px;
   margin-bottom: 70px;
   position: relative;
   &:after {
      display:block;
      position: absolute;
      right: 0;
      margin-top: -492px;
      height: 492px;
      content: " ";
      text-shadow: none;
      background-color: fadeout(@menucolor, 30%);
      width: ~"calc((100% - 760px) / 2)";
   }
   &:before {
      display:block;
      position: absolute;
      margin:  0;
      height: 492px;
      content: " ";
      text-shadow: none;
      background-color: fadeout(@menucolor, 30%);
      width: ~"calc((100% - 760px) / 2)";
      z-index: 5;
   }
   div.slick-active{
      box-sizing: border-box;
   }
   div.slick-slide{
      margin: 0 10px;
      position: relative;
      box-sizing: border-box;
      outline: none;
   }
   button.slick-arrow{
      z-index: 100;
   }
   button.slick-arrow.slick-prev{
      left: 15.5%;
      width: 71px;
      height: 49px;
      .sm-block({
         top: 112%;
         left: 35%;
      });
      &::before{
         width: 71px;
         height: 49px;
         content: "";
         background: url(../img/slick_prev_white.png) no-repeat;
         display: block;
         opacity: 1;
      }
   }
   button.slick-arrow.slick-next{
      right: 15.5%;
      width: 71px;
      height: 49px;
      .sm-block({
         top: 112%;
         right: 35%;
      });
      &::before{
         width: 71px;
         height: 49px;
         content: "";
         background: url(../img/slick_next_white.png) no-repeat;
         display: block;
         opacity: 1;
      }
   }
   ul.slick-dots{
      bottom: 20px;
      li{
         button{
            &::before{
               width: 16px;
               height: 16px;
               content: "";
               opacity: 1;
               background: url(../img/dot-icon.png) no-repeat;
            }
         }
      }
      li.slick-active{
         button{
            &::before{
               content: "";
               background: url(../img/dot-icon_active.png) no-repeat;
            }
         }
      }
   }
}

.techno{
   #for{
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: fadeout(#000, 70%);
      letter-spacing: 0.2em;
   }
   #techno_span_bottom{
      overflow: visible;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      padding-left: 25px;
      margin-top: 40px;
      margin-bottom: 75px;
      .col();
      .size(9);
      .size-lg(10);
      .size-md(12);
      .size-sm(10);
      .size-xs(12);
      .sm-block({
         padding: 0;
      });
      .techno_a_bottom{
         margin-left: 30px;
         a{
            color: @menucolor;
            border-bottom: 1px solid fadeout(@menucolor, 70%);
            &:hover{
               border-color: @menucolor;
            }
         }
      }
   }
}

/*Заказчикам*/
#custom_page_top{
   .row{
      justify-content: center;
      .page_headline{
         .col();
         .size(9);
         .size-lg(10);
         .size-sm(11);
         .size-xs(12);
         .sm-block({
            padding: 0;
         });
         padding-left: 25px;
         padding-right: 20px;
      }
   }
}

.custom_wrap{
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
   .row{
      justify-content: center;
   }
}
#custom_h1{
   padding-bottom: 40px;
}

.custom_arrow{
   display: block;
   min-width: 22px;
}


#custom_arrow_close{
   display: none;
}
.custom_block{
   .col();
   .size(9);
   .size-lg(10);
   .size-sm(11);
   .size-xs(12);
   .sm-block({
      padding: 0;
   });
   padding-left: 25px;
   padding-right: 25px;
   margin-bottom: 10px;
   .custom_block_headline{
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 55px;
      padding: 0 17px 0 22px;
      background: @menucolor;
      color: #fff;
      cursor: pointer;
      &:hover{
         background: fadeout(@menucolor, 18%);
      }
      p,span{
         display: block;
      }
      /*      p{

            }
            .custom_arrow{

            }*/
   }
   .custom_block_details{
      display: none;
      background-color: fadeout(#f1efec, 37%);
      padding: 21px 53px 60px 27px;
      ol{
         font-weight: bold;
         li{
            line-height: 1.7;
            margin-bottom: 25px;
            span{
               display: block;
               font-weight: normal;
               margin-left: 15px;
            }

         }
         .nested_list{
            padding-left: 50px;
            font-weight: normal;
            li{
               margin: 7px 0;
            }
         }
         .cyrilic{
            list-style-type: none;
            li{
               &::before {
                  margin-right: 15px;
                  width: 1em;
                  text-align: right;
                  display: inline-block;
               }
               &:nth-child(1){
                  &::before{
                     content: 'а)';
                  }
               }
               &:nth-child(2){
                  &::before{
                     content: 'б)';
                  }
               }
               &:nth-child(3){
                  &::before{
                     content: 'в)';
                  }
               }
            }
         }
      }
      ul{
         padding-left: 55px;
         padding-top: 15px;
         li{
            padding-top: 10px;
            ul{
               padding-left: 35px;
               padding-top: 0;
            }
         }
      }
      p{
         margin-left: 55px;
         margin-top: 30px;
      }
   }
}
.custom_p_wrap{
   margin: 55px 0 30px 0;
   .row{
      justify-content: center;
   }
}
#custom_p_headline{
   display: block;
   font-size: 20px;
   .col();
   .size(9);
   .size-lg(10);
   .size-sm(11);
   .size-xs(12);
   .sm-block({
      padding: 0;
   });
   padding-left: 25px;
   padding-right: 25px;
}
#c_c_w_last{
   margin-bottom: 75px;
}

/*Ошибка 404*/
.error_conteiner{
   min-height: 600px;
   flex-grow: 10;
   #error_h1{
      padding-bottom: 37px;
   }
   #error_p{
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin-bottom: 280px;
      text-align: center;
      line-height: 2;
      #error_p_center{
         display: block;
         padding: 20px 0 15px 0;
      }
      #error_tel{
         font-weight: bold;
         font-size: 18px;
      }
      a{
         color: @menucolor;
         border-bottom: 1px solid fadeout(@menucolor, 70%);
         &:hover{
            border-color: @menucolor;
         }
      }
   }
}


/*Модальные окна*/
#modal_form {
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
   width: 700px;
   height: 700px;
   position: fixed;
   top: 40%;
   left: 50%;
   margin-top: -350px;
   margin-left: -350px;
   display: none;
   opacity: 0;
   z-index: 200;
   .xs-block({
      width: 360px;
      height: 460px;
      margin-top: -275px;
      margin-left: -175px;
   });
   p{
      font-family: 'Mirandolina Bold', serif;
      font-size: 36px;
      text-align: center;
      color: #fff;
      padding-bottom: 20px;
      margin-top: 50px;
      .xs-block({
         margin-top: 20px;
         padding-bottom: 5px;
      });
   }
   #modal_close {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      right: 20px;
      cursor: pointer;
      display: block;
   }
   input{
      display: block;
      background: #fff;
      margin: 15px auto;
      /*      padding: 5px 10px;*/
      width: 500px;
      height: 50px;
      text-align: center;
      border: none;
      transition: all 0.2s ease;
      .xs-block({
         width: 250px;
         height: 25px;
         margin: 10px auto;
      });
      &:focus{

      }
      &::placeholder{
         color: #333;
      }
   }
   textarea{
      width: 500px;
      height: 100px;
      margin: 0 100px;
      border: none;
      box-sizing: border-box;
      padding-top: 37px;
      .xs-block({
         width: 250px;
         height: 50px;
         margin: 0 55px;
         padding-top: 10px;
      });
      &::placeholder{
         text-align: center;
         color: #333;
      }
      &:focus{
         padding: 5px 10px;
      }
   }
   .btn_submit{
      display: block;
      box-sizing: border-box;
      margin: 30px auto;
      padding: 15px 0 15px;
      cursor: pointer;
      background: none;
      border: 1px solid #fff;
      color: #fff;
      /*            text-align: center;*/
      width: 169px;
      /*      height: 49px;*/
      /*            margin: 1px 35px 0 20px;*/
      transition: all 0.2s ease;
      .xs-block({
         margin: 15px auto;
      });
      &:hover{
         color: fadeout(#000, 30%);
         background: #fff;
      }
      &:active{

      }
   }
   .msg{
      margin: 0 auto;
      width: 500px;
      .xs-block({
         width: 250px;
      });
      P{
         font-family: 'Open Sans', sans-serif;
         font-size: 13px;
         margin-top: 10px;
      }
      a{
         color: @menucolor;
         font-family: 'Open Sans', sans-serif;
         font-size: 13px;
         border-bottom: 1px solid fadeout(@menucolor, 50%);
      }
   }
}

#mod_license{
   z-index: 200;
   width: 472px;
   height: 668px;
   position: fixed;
   top: 40%;
   left: 50%;
   margin-top: -334px;
   margin-left: -236px;
   display: none;
   opacity: 0;
   .xs-block({
      width: 236px;
      height: 334px;
      margin-top: -167px;
      margin-left: -118px;
   });
}

#overlay {
   z-index: 100;
   position: fixed;
   background: #000;
   opacity: 0.7;
   /*      filter: alpha(opacity=80);*/
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   cursor: pointer;
   display: none;
}

@media screen and (min-width: 999px) {
   header, #header { position:relative; z-index:99;}
   .menu-tops { position:relative; z-index:99; margin-top:0; overflow: visible;}
   .menu-tops>ul { list-style-type: none; margin:0 0 0 -34px; padding:0; height:24px;}
   .menu-tops>ul>li { position:relative; display: inline-block; vertical-align: top; min-height:82px; margin:0 0 0 34px; padding:0; line-height: normal; color:#897466;}
   .menu-tops>ul>li>a { color:#897466; border-bottom:1px solid rgba(137,116,102,0.3);}
   .menu-tops>ul>li>span { border-bottom:1px solid transparent; color:#333; font-weight:700;}
   .menu-tops>ul>li:hover>a { border-bottom:1px solid #8f7b6e;}
   .menu-tops>ul>li>ul { display: none; position:absolute; top:81px; left:-20px; width:270px; list-style-type: none; margin:0; padding:0; border:1px solid #fff; border-top: none; background: none;}
   .menu-tops>ul>li:hover>ul { display: block;}
   .menu-tops>ul>li>ul>li { margin:0; padding:0; line-height: normal; background: none; font-size:14px;}
   .menu-tops>ul>li>ul>li>a, .menu-tops>ul>li>ul>li>span { display: block; padding:14px 20px 15px 20px; color:#fff;}
   .menu-tops>ul>li>ul>li:hover>a { background:#fff; color:#897466;}
   .menu-tops>ul>li>ul>li>span { background:#fff; color:#897466;}
   .menu-tops>ul>li>ul>li>ul { display: none; position:absolute; top:0; left:100%; min-height:100%; margin-left:0; width:328px; background: none; border:1px solid #fff; border-top: none;  }
   .menu-tops>ul>li>ul>li:hover>ul { display: block;}
   .menu-tops>ul>li>ul>li>ul>li { margin:0; padding:0; line-height: normal; font-size:14px;}
   .menu-tops>ul>li>ul>li>ul>li>a, .menu-tops>ul>li>ul>li>ul>li>span { display: block; padding:14px 20px 15px 20px; color:#fff;}
   .menu-tops>ul>li>ul>li>ul>li>span { background:#fff; color:#897466;}
   .menu-tops>ul>li>ul>li>ul>li:hover>a { background:#fff; color:#897466;}
   .fixed-shadow { display: none; position:fixed; top:0; left:0; z-index:10; width:100%; height:100%; background:rgba(143,123,110,0.9);}
   .but-mobile { display: none;}
   .menu-tops { display: block;}
}

@media screen and (max-width: 1200px) {
   .menu-tops>ul { margin-left:-19px;}
   .menu-tops>ul>li { margin-left:19px;}
   #header .row .logo {width: auto !important;}
   #header .row .header_nav { width:auto !important;}
   #header .row .logo { padding-left:0;}
   #header .row .order { width:auto !important;}

}

@media screen and (max-width: 1100px) {
   .menu-tops>ul { margin-left:-5px;}
   .menu-tops>ul>li { margin-left:5px; font-size:14px;}
}

@media screen and (max-width: 999px) {
   #header { margin-bottom: 40px;}
   .but-mobile { width: 100%; height:40px; cursor:pointer; line-height:37px; font-weight:700; padding:0; text-align: center; display: block; background:@menucolor; color:#fff;}
   .but-mobile span { position:relative; display: inline-block; vertical-align:top; padding-left:40px;}
   .but-mobile span:before { position:absolute; top:50%; left:0; margin:-10px 0 0 0; width:28px; height:20px; content:''; display: block; background:url(../img/ico-menu.png) no-repeat;}
   .wr-menu { position:absolute; top:137px; left:0; width:100%;}
   .menu-tops { display: none; position:absolute; top:40px; left:0; width:100%; background:#fff;}
   .menu-tops>ul { list-style-type: none; margin:0; padding:0;}
   .menu-tops>ul>li { position:relative;border-bottom: 1px solid rgba(137,116,102,.5); text-align: center; display: block; margin:0; padding:0; line-height: normal; color:#897466; background: none;}
   .menu-tops>ul>li>a, .menu-tops>ul>li>span { padding:10px 15px 13px 15px; display: block;}
   .menu-tops>ul>li>ul { display: none; list-style-type: none; margin:0; padding:0; background:#897466}
   .menu-tops>ul>li>ul>li { border-bottom:1px solid rgba(255,255,255,0.5)}
   .menu-tops>ul>li>ul>li:last-child { border: none;}
   .menu-tops>ul>li>ul>li>a, .menu-tops>ul>li>ul>li>span {padding:10px 15px 13px 15px; display: block; color:#fff;}
   .menu-tops>ul>li>ul>li>span { color:#b2a398}
   .menu-tops>ul>li>ul>li>ul { display: none; background:#f9f9f9;}
   .menu-tops>ul>li>ul>li>ul>li>a, .menu-tops>ul>li>ul>li>ul>li>span {padding:8px 15px 11px 15px; display: block;}
}
@media screen and (max-width: 490px){
   #header { margin-bottom: 100px;}
   #header .row { flex-wrap: wrap; justify-content: center;}
   .wr-menu{ top:197px;}
   #header .row .logo { margin-bottom: 10px;}
}